@model MVCBlog.Website.Models.OutputModels.Blog.BlogEntryDetail

@{
    Layout = "~/Views/Shared/Sidebar.Layout.cshtml";
}

<article>
@{Html.RenderPartial(MVC.Blog.Views._BlogEntryHeaderControl, this.Model.BlogEntry);}
    <p>
        <div class="fb-share-button pull-left"
             style="padding-right:25px !important;"></div>
        <div class="pull-left" style="padding-top: 5px !important;">
            <a href="https://twitter.com/share" class="twitter-share-button" data-via="sunnytrader"
               >Tweet</a>
        </div>
        <div class="g-plus pull-left" style="margin-top: 10px !important;"
             data-action="share" ></div>
        <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
    </p>
@Html.Raw(this.Model.BlogEntry.ShortContent)
@if (this.Model.BlogEntry.Content != null)
{
    @Html.Raw(this.Model.BlogEntry.Content)
}

@if (this.Model.BlogEntry.BlogEntryFiles.Count > 0)
{
    <h2>@Common.Downloads</h2>
    <p>
        @foreach (var file in this.Model.BlogEntry.BlogEntryFiles)
        {
            <i class="glyphicon glyphicon-download"></i> @Html.ActionLink(file.Name + "." + file.Extension, MVC.Blog.Download(file.Id))
            if (this.Request.IsAuthenticated)
            {
                <text>- @Common.Downloads: </text>@file.Counter
            }
            <br />
        }
    </p>
}
<section>
    <p>
        <div class="fb-share-button pull-left"
             style="padding-right:25px !important;"></div>
        <div class="pull-left" style="padding-top: 5px !important;">
            <a href="https://twitter.com/share" class="twitter-share-button" data-via="sunnytrader">Tweet</a>
        </div>
        <div class="g-plus pull-left" style="margin-top: 10px !important;"
             data-action="share"></div>
        <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
    </p>
</section>
</article>

@{Html.RenderPartial(MVC.Blog.Views._MetaInformationControl, this.Model);}

@{Html.RenderPartial(MVC.Blog.Views._CommentsControl, this.Model);}

@{Html.RenderPartial(MVC.Blog.Views._PingbacksControl, this.Model);}