@model MVCBlog.Website.Models.OutputModels.Blog.IndexModel

@{
    Layout = "~/Views/Shared/Sidebar.Layout.cshtml";
}

@section HeaderContent {
    <link rel="canonical" href="@this.Request.Url.GetLeftPart(UriPartial.Authority)@Url.Content("~/")" />
}

@section HeroUnit {
    @if (!this.Request.IsAuthenticated && !this.Model.Entries.Any())
    {
        <div class="jumbotron">
            <h1>Dotnetanalyst</h1>
            <p>@Common.HeroText</p>
            <p>@Html.ActionLink(@Common.Login, MVC.Administration.Index(), new { @class = "btn btn-primary btn-large" })</p>
        </div>
    }
}

@if (!string.IsNullOrEmpty(this.Model.Tag) || !string.IsNullOrEmpty(this.Model.Search))
{
    <div class="well">
        @if (!string.IsNullOrEmpty(this.Model.Tag))
        {
            <i class="glyphicon glyphicon-tag"></i>
            @Common.Tag<text>: @this.Model.Tag</text> 
        }
        else if (!string.IsNullOrEmpty(this.Model.Search))
        {
            <i class="glyphicon glyphicon-search"></i>
            @Common.Search<text>: @this.Model.Search</text>
        }
    </div>
}

@if (!this.Model.Entries.Any())
{
    @Common.NoData
}
else
{
    foreach (var entry in this.Model.Entries)
    {

        @:<article>
       
            <header>
                <h2><strong>@Html.ActionLink(entry.Header, entry.Url)</strong>
                   
                    
                </h2>
            </header>
                Html.RenderPartial(MVC.Blog.Views._BlogEntryHeaderControl, entry);
            <section>
                <p>@Html.Raw(entry.ShortContent)</p>
            </section>
    <footer>
        <p>@Html.ActionLink(Common.Continue, entry.Url, null, new { @class = "btn btnblue btn-default" })</p>
        <!-- Place this tag where you want the share button to render. -->
        <p>
            <div class="fb-share-button pull-left" data-href="@("/Blog/" + entry.Url)" 
                 style="padding-right:25px !important;"></div>
            <div class="pull-left" style="padding-top: 5px !important;">
                <a href="https://twitter.com/share" class="twitter-share-button" data-via="sunnytrader"
                   data-url="@("/Blog/" + entry.Url)">Tweet</a>
            </div>
            <div class="g-plus pull-left" style="margin-top: 10px !important;" 
                 data-action="share" data-href="@("/Blog/" + entry.Url)"></div>
            <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
        </p>
       
    </footer>
            @:</article>
    }

    Html.RenderPartial(MVC.Blog.Views._PagingControl, this.Model);
}